{% extends "base.html" %} {% block title %}cart{% endblock %}
{% block content %}
<h1>Cart</h1>
    <a href="http://127.0.0.1:5000/">
    <button class="button"><span>Continue Shopping</span></button></a>
<table>
    <thead>
        <tr>
            <th>
                <p>name</p>
            </th>
            <th>
                <p>price</p>
            </th>
            <th>
                <p>delete</p>
            </th>
        </tr>
    </thead>
    <tbody>
        {% if cart_name %}
        {% set i = 0 %}
        {% for item in cart_name %}
        <tr>
            <th>
                <p>{{item[0]}}</p>
            </th>
            <th>
                <p>{{item[1]}}</p>
            </th>
            <th>
                <form action="/delete" method ="post">
                    <input type="hidden" name="id" value="{{ i }}">
                    <input type="submit" value="delete">
                 </form> 
            </th>
        </tr>
        {% set i = i + 1%}
        {% endfor %}
        {% endif %}
    </tbody>
</table>

{% endblock %}