{% extends "base.html" %} {% block title %}cart{% endblock %}
{% block content %}
<h1>Cart</h1>
<table id = "cart">
    <thead>
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Price</p>
            </th>
            <th>
                <p>Delete</p>
            </th>
            <th>
                <p>Quantity</p>
            </th>
        </tr>
    </thead>
    <tbody>
        {% if cart_name %}
        {% set i = 0 %}
        {% for item in cart_name %}
        <tr>
            <th>
                <p>{{item[0]}}</p>
            </th>
            <th>
                <p>${{item[1]}}</p>
            </th>
            <th>
                <form action="/delete" method ="post">
                    <input type="hidden" name="id" value="{{ i }}">
                    <div style="text-align: center">
                    <input class="delete_button" type="submit" value="delete">
                    </div>
                 </form> 
            </th>
            <th>
                  <div class="counter">
                    <span class="down" onClick='decreaseCount(event, this)'>-</span>
                    <input id="num" type="text" value="1">
                    <span class="up" onClick='increaseCount(event, this)'>+</span>
                  </div>
            </th>
        </tr>
        {% set i = i + 1%}
        {% endfor %}
        {% endif %}
    </tbody>
    <thead>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
                <p style="text-align:center;">Total:</p>
            </th>
        </tr>
    </thead>
</table>
<script>
    function increaseCount(a, b) {
    var input = b.previousElementSibling;
    var value = parseInt(input.value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    input.value = value;
    }

    function decreaseCount(a, b) {
    var input = b.nextElementSibling;
    var value = parseInt(input.value, 10);
    if (value > 1) {
        value = isNaN(value) ? 0 : value;
        value--;
        input.value = value;
    }
    }
</script>
 <br>
<a href="http://127.0.0.1:5000/">
<button class="button"><span>Continue Shopping</span></button></a>
{% endblock %}