{% extends "base.html" %} {% block title %}Home{% endblock %}
 {% block content %}

 {%  for item in menu %}
 <p>{{item[2]}}</p>
{% endfor %}
            <h1 class = "center-text">Home page</h1>
            <p1 class ="center-text">Order items</p1>
            <br>
        <div class="container">
            <img src="{{ url_for('static', filename='img/'+item[2]) }}" alt="burger" class="image" style="width:100%">
            <a href="/item/1">
            </a>
            <div class="middle">
            <div class="text">
                <p>Order</p></div>
            </div>
            </div>
        </div>
  



{% endblock %}