{% extends "base.html" %} {% block title %}item{% endblock %}
{% block content %}
<h1>Item page</h1>
<br>
<div class='item'>
    <img src="{{ url_for('static', filename='img/'+item[2]) }}" alt="menu_item">
   <div class='description'>
       <h1>{{item[1]}}</h1>
       <p>{{item[3]}}</p>
       <form action="/add_to_cart" method="post">
           <input type="hidden" name="item_id" value={{item[0]}}>
        <button class="add_button add_button2">Add To Cart</button>
    </form>
   </div>
{% endblock %}