{% extends "base.html" %} {% block title %}Menu{% endblock %}
{% block content %}

<h2 class="center-text">Menu items</h2>
<br>
{% for item in menu %}
<div class="container">
    <img src="{{ url_for('static', filename='img/'+item[2]) }}" alt="menu_item" class="image" style="width:100%">
    <div class="middle">
        <!-- <button type="button" onclick="alert('To Save Orders Please Login')">Order</button> -->
        <a href="/item/{{ item[0]}}">
        <button class="button"><span>Order</span></button>
    </a>
    </div>
</div>

{% endfor %}
{% endblock %}