{% extends "base.html" %} {% block title %}Menu{% endblock %}
{% block content %}
<h2 class="center-text">Menu items</h2>
<br>
{% for item in menu %}
<div class="container">
    <img src="{{ url_for('static', filename='img/'+item[2]) }}" alt="menu_item" class="image" style="width:100%">
    <div class="middle">
        <a href="/item/{{ item[0]}}">
        <button class="button"><span>Order</span></button>
    </a>
    </div>
</div>
<!-- <br>
    onclick="alert('To Save Orders Please Login')"
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="alert alert-success alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>To Save</strong> Please LoginS
</div> -->
{% endfor %}
{% endblock %}