{% extends "base.html" %} {% block title %}Menu{% endblock %}
{% block content %}
<h3 class="center-text">Menu items</h3>
<br>
<div class="row">
{% for item in menu %}
  <div class="column">
<div class="container" id="t">
    <img src="{{ url_for('static', filename='img/'+item[2]) }}" alt="menu_item" class="image">
    <!-- <span class="imagetext">price</span> -->
    <div class="middle">
    <a href="/item/{{ item[0]}}">
    <button class="button"><span>Order</span></button>
    </a>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}