
body{
  font-family:garamond;
  background-color: white;
}

.container {
  position: relative;
  width: 50%;
  height: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin:1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image:hover{
  opacity:0.5
}

#t:hover .middle {
  opacity: 1;
}


.imagetext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position of the price tag (imagetext) */
  position: absolute;
  z-index: 1;
    bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.imagetext {
  visibility: visible;
}

  .button {
    border-radius: 3px;
    background-color: #c0998d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.center-text{ 
  color:#201f2b;
  font-family:garamond;
text-align: center;
}

.item {
  background: #edeef0;
  display:flex;
  width: 80%;
  margin:auto;
  box-shadow: 0px 4px 8px 10px #e8e6e6;
}

.item img{
  width: 40%;
}

.description {
  margin: 1rem;
}

.add_button {
  background-color: #bba389;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.add_button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}